.body {
    background-color: rgba(230, 228, 228, 0.877);
}

.divtexto {
    padding-top: 3%;
}

.texto {
    text-align: center;
}

.divtexto {
    padding-top: 3%;
}

.texto {
    text-align: center;
}

.espaco {
    padding-top: 4%;
}

.molhodiv {
    font-family: 'Tangerine', cursive;
}

.tamanho h1 {
    font-size: 70px;
}

.tamanho h3 {
    font-size: 40px;
}

.verde {
    color: rgb(0, 128, 0);
}

.shoyu {
    margin-left: 15%;
    transition: none;
}

.footer {
    background: linear-gradient(to bottom, #095A0C 0%, #048a06 100%);
}

.cor {
    color: rgb(255, 255, 255)
}

div.vertical-line {
    width: 1px;
    background-color: #5f5f5f;
    height: 100%;
    float: right;
}

.link {
    color: rgb(179, 179, 179);
}

.link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

hr {
    width: 95%;
}

.conheca {
    margin-top: 5%;
}

.topomolhos {
    margin-top: 3%;
}

.box {
    overflow: hidden;
}

.box {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.box:hover {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.top {
    margin-top: 3%;
}

.card-text {
    font-size: smaller;
}

.topcard {
    margin-top: 3%;
}

.sastable #head th {
    background-color: #D5D5D5;
}

.sastable td {
    background-color: #FFFFFF;
}

.sastable th {
    background-color: #FFFFFF;
}

.position {
    float: right;
}

.center {
    margin: 0 auto;
    float: center;
}

.titulo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.textinho {
    font-family: Arial, Helvetica, sans-serif;
}

.positionn {
    float: left;
}